<%- include("../partials/header") %>

<div class="container-fluid my-5">
    <div class="row my-5 justify-content-center">
        <h1 class="title">CREATE A NEW TASK LIST</h1>
    </div>
</div>

<%- include("../partials/footer") %>
